@model IEnumerable<TheatreCMS3.Areas.Prod.Models.ProductionMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "ProductionMembers", null, new { @class = "Prod-Create--button2" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Character)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CastYearLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebutYearLeft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @if (item.Photo != null)
        {
            <img alt="@item.Photo" src="data:image/jpg;base64,@Convert.ToBase64String(item.Photo)" />
        }
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YearJoined)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MyProperty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentMember)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Character)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CastYearLeft)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DebutYearLeft)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductionMemberId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductionMemberId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductionMemberId })
    </td>
</tr>
}

</table>
